.card__container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 10px;
    justify-content: center;
    justify-items: stretch;
    align-content: flex-end;
    align-items: center;
}
