.container__right {
    margin-left: 20px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    overflow: hidden;
    height: 460px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.background {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.055);
    border: 1px solid rgba(255, 255, 255, 0.212);
}

.messages_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.messages_list li {
    padding-bottom: 5px;
}