.container__left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
}

.background {
	background-color: rgb(236, 236, 236);
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.055);
	border: 1px solid rgba(255, 255, 255, 0.212);
}
.menu__list {
	margin-right: 20px;
}

.panel {
	padding: 5px;
}

.panel__heading p {
	text-transform: uppercase;
	border-top: 1px solid rgb(222 222 222 / 33%);
	height: 60px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.logo__mini {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	transition: all 0.3s;
	cursor: pointer;
}

.logo__mini i {
	font-size: 30px;
}

.logo__mini:hover {
	color: #857800;
}

.panel__list {
	display: flex;
	flex-direction: column;

}
