@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #463f3fe6;
  background-color: #7a887a66;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #58553a;
  font-weight: 500;
}


li {
  list-style: none;
  list-style-type: none;
  cursor: pointer;
}

button,
input {
  overflow: visible;
  outline: none;
  border-style: none;
  cursor: pointer;
}

.App {
  text-align: center;
  color: #58553a;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 250px) {
  .padding {
    padding-left: calc(50% - 130px);
    padding-right: calc(50% - 130px);
  }
}

@media (min-width: 281px) {
  .padding {
    padding-left: calc(50% - 140px);
    padding-right: calc(50% - 140px);
  }
}

@media (min-width: 321px) {
  .padding {
    padding-left: calc(50% - 170px);
    padding-right: calc(50% - 170px);
  }
}

@media (min-width: 440px) {
  .padding {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
  }
}

@media (min-width: 490px) {
  .padding {
    padding-left: calc(50% - 240px);
    padding-right: calc(50% - 240px);
  }
}

@media (max-width: 241px) {
  .padding {
    padding-left: calc(50% - 110px);
    padding-right: calc(50% - 110px);
  }
}

@media (min-width: 768px) {
  .padding {
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
  }
}

@media (min-width: 1024px) {
  .padding {
    padding-left: calc(50% - 460px);
    padding-right: calc(50% - 460px);
  }
}

@media (min-width: 1228px) {
  .padding {
    padding-left: calc(50% - 560px);
    padding-right: calc(50% - 560px);
  }
}

@media (min-width: 1439px) {
  .padding {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
  }
}

@media (min-width: 1440px) {
  .padding {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
}